footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    img {
        padding-top: 40px;
    }

    p {
        padding-bottom: 40px;
        font-size: 12px;
        font-weight: 500;
        color: $colorPrimary;
    }
}
