header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 145px;
    }

    a {
        padding-left: 10px;
        color: $colorSecondary;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            text-transform: unset;
            font-size: 24px;
        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }
}

.current {
    text-decoration: underline;
}

.linkAbout {
    @media screen and (min-width: 768px) {
        padding-left: 57px;
    }
}
