.thumb {
    position: relative;
    width: 335px;
    height: 255px;
    @media screen and (min-width: 480px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        width: 335px;
    }

    a {
        display: flex;
        position: relative;
        height: 100%;

        &:hover {
            opacity: 0.85;
            transition: 0.3s;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    h3 {
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        bottom: 0%;
        margin: 20px;
        color: $colorPrimary;
    }
}

.thumbFilter {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 10px;
}
