@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./normalize";

$font: "Montserrat", sans-serif;
$colorPrimary: #ffffff;
$colorSecondary: #ff6060;
$colorTertiary: #f7f7f7;

* {
    box-sizing: border-box;
    font-family: $font;
    outline: none;
    text-decoration: none;
}

.body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
